# DATA MINING FOR MOVIE RECOMMENDER SYSTEM USING CONTENT BASED FILTERING

IMPORTING LIBRARIES

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from gensim.models import Doc2Vec
from sklearn import utils
from sklearn.model_selection import train_test_split
import gensim
from gensim.models.doc2vec import TaggedDocument

DATA EXPLORATORY

In [10]:
#tahap awal adalah meload dataset yang digunakan
movies_data = pd.read_csv('./dataset/movies.csv')
links_data = pd.read_csv('./dataset/links.csv')
ratings_data = pd.read_csv('./dataset/ratings.csv')
tags_data = pd.read_csv('./dataset/tags.csv')

In [13]:
#sampel movies.csv
movies_data.sample(10)

,movieId,title,genres
9423,165959,Alesha Popovich and Tugarin the Dragon (2004),Animation|Comedy|Drama
7374,79139,"Sorcerer's Apprentice, The (2010)",Action|Adventure|Children|Comedy|Fantasy
6561,55052,Atonement (2007),Drama|Romance|War
3042,4074,"Legend of Rita, The (Stille nach dem Schuß, Di...",Drama
8538,115151,Plastic (2014),Action|Crime
2600,3476,Jacob's Ladder (1990),Horror|Mystery
6983,66798,"Pink Panther 2, The (2009)",Adventure|Comedy|Mystery
254,293,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
1454,1977,Friday the 13th Part IV: The Final Chapter (1984),Horror
7749,91104,"Twilight Saga: Breaking Dawn - Part 1, The (2011)",Adventure|Drama|Fantasy|Romance

In [14]:
#sampel ratings.csv
ratings_data.sample(10)

       userId  movieId  rating   timestamp
65381     419     5152     2.0  1332622116
12561      80     3147     4.0  1377308769
68711     448      380     3.0  1019124334
77194     482     8528     4.0  1105396475
75066     474    34072     3.5  1141933692
57510     380     6615     4.0  1494071605
69219     448     3614     4.0  1019128089
2248       18   141688     4.0  1478124485
40831     275     3246     5.0  1049078671
42709     288     3039     3.0   975692577

In [15]:
#Sampel links.csv
links_data.sample(10)

      movieId   imdbId    tmdbId
9019   140525  1741273  290751.0
2460     3273   134084    4234.0
5594    26900   113556   51038.0
8392   109941  2268617   83201.0
2008     2672   139809    1090.0
1868     2482   149151    1618.0
2771     3709   105428   11428.0
4158     5988    91814   21332.0
1737     2332   158493   12888.0
1395     1913    73540   11020.0

In [16]:
#Sampel tags.csv
tags_data.sample(10)

      userId  movieId                 tag   timestamp
707      424      147       Mark Wahlberg  1457901624
410      103      296    great soundtrack  1431954555
1665     474     2699             spiders  1137373650
355       62   135536  visually appealing  1525555109
3282     567   161634             intense  1525287241
3529     599      296             sarcasm  1498456612
2357     474     8580    In Netflix queue  1137201021
3628     599     2959         challenging  1498456963
508      184     4226            Mindfuck  1537094464
362       62   136864           Gal Gadot  1525555240